<ion-view view-title="PRIVACY POLICY" class="legal-view">
    <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-if="navButton=='menu'">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-bouncing="false" class="padding has-header">
        <p>
            Last updated: December 02, 2015
        </p>

        <p>
            Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the www.webwedmobile.com website and the Web Wed mobile application (together, or individually, the "Service") operated by Web Wed, LLC ("us", "we", or "our").
        </p>

        <p>
            Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.
            <br>
            By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you do not have permission to access the Service.
        </p>

        <h5>Communications</h5>

        <p>
            By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.
        </p>

        <h5>Purchases</h5>

        <p>
            If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card, your billing address, and your shipping information.
        </p>
    </ion-content>
</ion-view>
