<ion-view view-title="{{Properties.title}}" class="home-specialmoments-view">

  <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
    <ion-nav-back-button style="color: #fff !important;"></ion-nav-back-button>
  </ion-nav-bar>

  <link rel="stylesheet" href="css/special_moments_view.css"/>
  <link rel="stylesheet" href="css/chat_view.css"/>

  <ion-content scroll="false" class="has-header topHeader">
    <div class="container" id="videoContainer">
      <video class="fullscreen_video" id="fullscreen_video" webkit-playsinline autoplay></video>
      <div class="row bottom-content" style="">
        <div class="col col-19">
          <button class="button button-clear" ng-click="goChat()" disabled="disabled">
            <img src="img/tab-chat-white.svg">
          </button>
        </div>
        <div class="col col-19 divider">
          <!-- ng-disabled="account.gifts" -->
          <button class="button button-clear" ng-click="goGift()" ng-disabled="account.gifts">
            <img src="img/tab-gift-white.svg">
          </button>
        </div>
        <div class="col col-24 divider">
          <button id="startBroadcasting" class="button button-clear" ng-click="goBack()">
            <img src="img/tab-heart-white.svg">
          </button>
        </div>
        <div class="col col-19 divider">
          <button class="button button-clear" ng-click="addToCalendar();" ng-disabled="addToCalendarAction">
            <img src="img/tab-event-white.svg">
          </button>
        </div>
        <div class="col col-19 divider">
          <button class="button button-clear" ng-click="share();" ng-disabled="account.public">
            <img src="img/tab-link-white.svg">
          </button>
        </div>
      </div>

      <style>
      .keyboardOn {
          height: calc(100vh - 270px) !important;
      }
  </style>

  <!-- <div id='chatWindow2'>
      <div class="chat_window">
          <ul class="messages">

          </ul>

          <div class="bottom_wrapper clearfix">
              <div class="message_input_wrapper">
                  <input class="message_input" placeholder="Send your love here.." ng-click='adjust();' id="message_text" ng-model='messages.text'>
              </div>
              <div class="send_message" ng-click='sendChatMessage()'>
                  <div class="icon"></div>
                  <div class="text">Send</div>
              </div>
          </div>

      </div>

      <div class="message_template">
          <li class="message">
              <div class="avatar"></div>
              <div class="text_wrapper">
                  <div class="text"></div>
              </div>
          </li>
      </div>
  </div> -->
    </div>
  </ion-content>
</ion-view>
