<ion-view view-title="Account Details" class="account-view" cache-view="false">

    <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
      <ion-nav-back-button style="color: #fff !important;"></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-bouncing="false" class="has-header" style="top: 0px;">
        <div class="row logo-content">
            <div class="col">
                <div class="app-logo">
                    <img src="img/my-account-logo.svg">
                </div>
                <div class="logo-title">
                    <h1 ng-bind="account.name"></h1>
                </div>
            </div>
        </div>

        <div class="row members-content" ng-if="loginMode=='host' && Properties.active == 'wedding'">
            <div class="col">
                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/heart-blue-fill.svg">
                        </div>
                        <div class="middle-box">
                            <div class="middle-text h-line calm">
                                Yours: <span ng-bind="account.yours"></span>
                            </div>
                        </div>
                        <!--div class="suffix-button">
                            <button class="button button-outline button-small button-round button-positive" ng-click="sendReminder('yours')">EMAIL</button>
                        </div-->
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/heart-blue-fill.svg">
                        </div>
                        <div class="middle-box">
                            <div class="middle-text h-line calm">
                                Yours 2: <span ng-bind="account.yours2"></span>
                            </div>
                        </div>
                        <!--div class="suffix-button">
                            <button class="button button-outline button-small button-round button-positive" ng-click="sendReminder('yours')">EMAIL</button>
                        </div-->
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/heart-calm-fill.svg">
                        </div>
                        <div class="middle-box">
                            <div class="middle-text h-line calm">
                                Officiant: <span ng-bind="account.officiant"></span>
                            </div>
                        </div>
                        <!--div class="suffix-button">
                            <button class="button button-outline button-small button-round button-positive" ng-click="sendReminder('officiant')">EMAIL</button>
                        </div-->
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/heart-calm-fill.svg">
                        </div>
                        <div class="middle-box">
                            <div class="middle-text h-line calm">
                                Witness 1: <span ng-bind="account.witness1"></span>
                            </div>
                        </div>
                        <!--div class="suffix-button">
                            <button class="button button-outline button-small button-round button-positive" ng-click="sendReminder('witness1')">EMAIL</button>
                        </div-->
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/heart-calm-fill.svg">
                        </div>
                        <div class="middle-box">
                            <div class="middle-text h-line calm">
                                Witness 2: <span ng-bind="account.witness2"></span>
                            </div>
                        </div>
                        <!--div class="suffix-button">
                            <button class="button button-outline button-small button-round button-positive" ng-click="sendReminder('witness2')">EMAIL</button>
                        </div-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row setting-content" ng-if="loginMode=='host'">
            <div class="col">
                <div class="row row-template" ng-if="account.ondemand == false">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/calendar-white.svg">
                        </div>
                        <div class="middle-box" >
                            <div class="middle-text h-line calendar stable">
                                <span ng-bind="account.longDate"></span>
                                <!--img src="img/clock-white.svg" class="clock"-->
                                <div class="time"><span ng-bind="account.longTime"></span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/link-white.svg">
                        </div>
                        <div class="middle-box">
                            <div class="middle-text h-line stable">
                                Public Broadcast
                            </div>
                        </div>
                        <div class="suffix-button">
                            <label class="toggle toggle-positive">
                                <input type="checkbox" ng-model="publicBroadcast" id='publicBroadcast' ng-disabled="disableElements">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/chat-white.svg">
                        </div>
                        <div class="middle-box">
                            <div class="middle-text h-line stable">
                                Allow Chat
                            </div>
                        </div>
                        <div class="suffix-button">
                            <label class="toggle toggle-positive">
                                <input type="checkbox" ng-model="allowChat" id='allowChat' ng-disabled="disableElements">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/gift-white.svg">
                        </div>
                        <div class="middle-box">
                            <div class="middle-text h-line stable">
                                Accept Gifts
                            </div>
                        </div>
                        <div class="suffix-button">
                            <label class="toggle toggle-positive">
                                <input type="checkbox" ng-model="acceptGifts" id='acceptGifts' ng-disabled="disableElements">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col" style="height: 30px;"></div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/tab-gift-white.svg">
                        </div>
                        <div class="middle-box has-input">
                            <div class="middle-text h-line stable">
                                <label class="item item-input">
                                    <input type="text" placeholder="Event Registry Link:" ng-model="setting.giftlink">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col" style="height: 30px;"></div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="prefix-image">
                            <img src="img/email-white.svg">
                        </div>
                        <div class="middle-box has-input">
                            <div class="middle-text h-line stable">
                                <label class="item item-input">
                                    <input type="email" placeholder="Email:" ng-model="setting.email" disabled="disabled" required>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="middle-box has-input">
                            <div class="middle-text h-line stable">
                                <label class="item item-input">
                                    <input type="password" placeholder="New Password:" ng-model="setting.password" required>
                                </label>
                            </div>
                        </div>
                        <!--div class="suffix-button">
                            <button class="button button-outline button-small button-round button-light">RESET</button>
                        </div-->
                    </div>
                </div>

                <div class="row row-template">
                    <div class="col">
                        <div class="middle-box has-input">
                            <div class="middle-text h-line stable">
                                <label class="item item-input">
                                    <input type="password" placeholder="Confirm Password:" ng-model="setting.confirm" required>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row ceremony-content">
            <div class="col">
                <div class="row row-template" ng-if="Properties.active == 'wedding'">
                    <div class="col">
                        <div class="middle-box">
                            <div class="middle-text h-line calm">
                                Ceremony Link:
                                <p class="link" ng-bind="account.ceremonylink"></p>
                            </div>
                        </div>
                        <div class="suffix-button">
                            <button class="button button-outline button-small button-round button-positive" ng-click="share()">SHARE</button>
                        </div>
                    </div>
                </div>

                <div class="row row-template" style="height: 40px;"></div>

                <div class="row row-template" style="height: 160px;" ng-if="loginMode=='host'">
                    <div class="col">
                        <div class="prefix-image" ng-click="setting.agree = !setting.agree;" style="z-index: 1;">
                            <i class="icon" ng-class="{'ion-ios-circle-filled': setting.agree==true, 'ion-ios-circle-outline': setting.agree==false}"></i>
                        </div>
                        <div class="middle-box">
                            <div class="agree-text">
                                <p>
                                    I have read and understand all terms and I am authorized to update the above. I know once a ceremony is public that it may not be made private. It is my responsability to ensure all parties are notified and agree to changes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-template" ng-if="loginMode=='host'">
                    <div class="col">
                        <button class="button button-full button-positive" ng-click="update()">Update</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row copyright-content" >
            <div class="col">
                <div class="padding">
                    <p>
                        &copy; 2012 – <span ng-bind="currentYear"></span> Web Wed, LLC. All right reserved.
                    </p>
                    <p>
                        Provisional Patent Awarded. Service available only within the contiguous United States. A state issued marriage license is required to use this service.
                        <br/>
                        <span>Version: <span ng-bind="version"></span></span>
                    </p>
                    <div class="terms-of-service">
                        <a href="#/app/terms-of-service/back" class="text-link">Terms of Service</a> and <a href="#/app/privacy-policy/back" class="text-link">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
