<ion-modal-view class="no-connection-view" cache-view="false">
    <ion-content scroll="false">
        <div class="top-content">
            <div class="no-connection-logo">
                <img src="img/no-connection.svg" style="max-height:150px;">
            </div>
        </div>
        <div class="bottom-content">
            <div class="no-connection-title">
                <h1>Unsupported Device Detected</h1>
            </div>
            <div class="no-connection-description">
                <p>
					        Your device does not appear to be currently supported. Sadly at this time you will not be able to use our app. If you believe this is an error you may report it to <br/><br/><span class="text-bold">WebWed's app development team at <a href="tel:18552672777">(855)-267-2777</a>.</span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
