<ion-view hide-nav-bar="true" class="intro-view" cache-view="false">
    <ion-slide-box on-slide-changed="slideChanged($index)" ng-class="{'pager-page-0':slideIndex==0, 'pager-page-1':slideIndex==1, 'pager-page-2':slideIndex==2}">
        <!-- page 1 -->
        <ion-slide class="intro-page-1">
            <div class="top-content">
                <div class="app-logo">
                    <img src="img/web-wed-logo-white.svg">
                </div>
                <div class="intro-title">
                    <h1>Welcome to Web Wed</h1>
                </div>
            </div>
            <div class="middle-content">
                <div class="intro-image">
                    <img src="img/envelope.svg">
                </div>
            </div>
            <div class="bottom-content">
                <div class="intro-notice">
                    <h2>Together, Wherever</h2>
                    <h2>Whenever, Forever</h2>
                </div>
            </div>
        </ion-slide>

        <!-- page 2 -->
        <ion-slide class="intro-page-2">
            <div class="top-content">
                <div class="app-logo">
                    <img src="img/web-wed-logo-white.svg">
                </div>
                <div class="intro-title">
                    <h1>Where Love Birds Get E&#65279;hitched.</h1>
                </div>
            </div>
            <div class="middle-content">
                <div class="intro-image">
                    <img src="img/doves.svg">
                </div>
            </div>
            <div class="bottom-content">
                <div class="intro-notice">
                    <h2>With a live video stream to share the moment</h2>
                </div>
            </div>
        </ion-slide>

        <!-- page 3 -->
        <ion-slide class="intro-page-3">
            <div class="top-content">
                <div class="app-logo">
                    <img src="img/web-wed-logo-blue.svg">
                </div>
                <div class="intro-title">
                    <h1>No Travel, No Lavish Expense. No One Should Miss Out.</h1>
                </div>
            </div>
            <div class="middle-content">
                <div class="intro-image">
                    <img src="img/heart-cal.svg">
                </div>
            </div>
            <div class="bottom-content">
                <div class="intro-notice">
                    <h2>Share with a select group or the world.</h2>
                    <h3>Smart Phone, Tablet &amp; Desktop.</h3>
                </div>
                <div class="get-started">
                    <a href="#/login/startup" class="button button-clear">Get Started ></a>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>
