<ion-view class="login-view moveupcontent" cache-view="false" id="moveupcontent">
  <ion-nav-bar class="bar-stable bar-navigation bar-clear" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="false">
    <div class="top-content">
      <div class="login-logo">
        <img src="img/heart-ring.svg">
      </div>
    </div>
    <div class="middle-content">
      <div class="content-padding">
        <div class="row">
          <div class="col">
            <h1>Together, Whenever, Wherever, Forever</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!-- <button class="button button-full button-calm" ng-click="needAccount()">New Account</button> -->
            <a ng-click="needAccount()">Create An Event</a>
          </div>
        </div>
        <div class="row">
          <div class="col login-padding">
            <button class="button button-full button-positive login" ng-click="goWeddingPartyLogin()">Returning User</button>
          </div>
          <div class="col login-padding right-justified">
            <button class="button button-full button-assertive login" ng-click="goInvitedGuest()">Attend An Event</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-full button-calm" ng-click="watchDemo()">How It Works</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="app-logo">
        <img src="img/web-wed-logo-white.svg">
      </div>
      <div class="tos-notice">
        <h4>By using this app, you accept our <a href="#/login/terms-of-service/back">Terms of Service</a> and <a href="#/login/privacy-policy/back">Privacy Policy</a><br/><span>Version: <span ng-bind="version"></span></span></h4>
      </div>
    </div>
  </ion-content>
</ion-view>
