<ion-view view-title="Legal Resources" class="legal-view">

    <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content has-bouncing="false" class="padding">
<p>While we can't provide you legal advice we can offer some resources to help you understand our service. We do not issue marriage license or offer legal services.</p>

        <p>Proxy Marriages<br>
A proxy marriage is a marriage where the parties were not physically present in the presence of each other. Someone stands in for the other party because either the bride or the groom is not physically present for the wedding. During the solemnization of the marriage, based upon a power of attorney, an agent acts on behalf of one of the parties. The marriage is presumed valid if it is valid in the country that performs the ceremony. Mostly compared and used in military marriages, and maximum security facility. Marriage by proxy, with only one party to the marriage making an appearance, is possible in the United States. It is always necessary for one of the two parties (either husband or wife) to actually appear before the Civil Authorities.</p>

<p>Written Authorization for Third Person to Act as Proxy<br>
If a party to a marriage is unable to be present at the solemnization, that party may authorize in writing a third person to act as his proxy. If the person solemnizing the marriage is satisfied that the absent party is unable to be present and has consented to the marriage, he or she may solemnize the marriage by proxy. If he or she is not satisfied, the parties may petition the court for an order permitting the marriage to be solemnized by proxy.</p>

<p>Proxy Marriages Allowed in Four States<br>
Marriage by proxy has been around a long time. Proxy marriages are most common during wartime. Marriages by proxy are allowed in California, Colorado, Texas, and Montana.</p>

<p>Legal Recognition<br>
Whether a state or country will recognize a marriage by proxy seems to depend on whether or not the law of the locale requires that both parties be present to apply for a license or to give their consent at the ceremony. Some states recognize a proxy marriage that was done in another state. Other states only recognize them as common law marriage. U.S. military personnel may annul a proxy marriage provided there is no consummation, no cohabitation, or no treatment as husband and wife after the marriage ceremony.</p>

<p>Immigration Concerns<br>
Unconsummated proxy marriages are not recognized for immigration purposes in most countries, including the United States. However, a party of an unconsummated proxy marriage may enjoy immigration benefits as a fiance of the opposite party is a U.S. citizen.</p>

<p>Commom Law<br>
Common law marriage should not be confused with non-marital relationship contracts, which involves two people living together without holding themselves out to the world as spouses and/or without legal recognition as spouses in the jurisdiction where the contract was formed. Non-marital relationship contracts are not necessarily recognized from one jurisdiction to another whereas common law marriages are, by definition, legally valid marriages worldwide - provided the parties complied with the requirements to form a valid marriage while living in a jurisdiction that still allows this irregular form of marriage to be contracted - as was historically the case under the common law of England (hence the name, &quot;common law marriage&quot;).</p>

<p><strong>Common law and statutory marriage have the following characteristics in common:</strong><br>
1. Both parties must freely consent to the marriage<br>
2. Both parties must be of legal age to contract a marriage or have parental consent to marry<br>
3. Neither party may be under a disability that prevents him or her from entering into a valid marriage - e.g. they must both be of sound mind, neither of them can be currently married (except in Saskatchewan[2]), and some jurisdictions do not permit prisoners to marry.<br>
Otherwise, common law marriage differs from statutory marriage as follows:<br>
1. There is no marriage license issued by a government and no marriage certificate filed with a government<br>
2. There is no formal ceremony to solemnize the marriage before witnesses<br>
3. The parties must hold themselves out to the world as husband and wife (this is not a requirement of statutory marriage) <br>
4. Most jurisdictions require the parties to be cohabiting at the time the common law marriage is formed. Some require cohabitation to last a certain length of time (e.g. three years) for the marriage to be valid. But cohabitation alone does not create a marriage.</p>

<p>The parties must intend their relationship to be, and to be regarded as, a legally valid marriage.<br>
When a marriage is validly contracted, whether according by statutory provision or according to common law, the marriage can be dissolved only by a formal legal proceeding in a court of competent jurisdiction - usually a family or probate court.<br>
In the U.S. state of Texas, a new provision was added to the Family Code; either partner in a common law marriage has two years after separation to file an action in order to prove that the common law marriage existed. To use the provision, the separation must have occurred after September 1, 1989.<br>
Since the mid-1990s, the term &quot;common law marriage&quot; has been used in parts of Europe and Canada to describe various types of domestic partnership between persons of the same sex as well those of the opposite sex. Although these interpersonal statuses are often, as in Hungary, called &quot;common law marriage&quot; they differ from true common law marriage in that they are not legally recognized as &quot;marriages&quot; but are a parallel interpersonal status, known in most jurisdictions as &quot;domestic partnership&quot;, &quot;registered partnership&quot;, &quot;conjugal union&quot; or &quot;civil union&quot; etc.<br>
Not all agreements break statutes. Some are illegal because they break public policy, which is generally &quot;to discourage any interference with the freedom of choice&quot; (Saskatchewan, Canada, excepted). An agreement forbidding a party to marry or bribing a party to refrain from marriage is considered &quot;Interference with Marriage Relation&quot; or an &quot;Agreement in Restraint of Marriage&quot;; such agreements are typically held to be nonbonding.</p>

<p>
Marriage<br>
Marriage can be recognized by a state, an organization, a religious authority, a tribal group, a local community or peers. It is often viewed as a contract. Civil marriage, which does not exist in some countries, is marriage without religious content carried out by a government institution in accordance with the marriage laws of the jurisdiction, and recognized as creating the rights and obligations intrinsic to matrimony. Marriages can be performed in a secular civil ceremony or in a religious setting via a wedding ceremony.</p>

<ol>
<li>http://gaylife.about.com/od/gaymarriagebyregion/ig/Legal-Marriage/</li>
<li>http://www.unmarried.org/common-law-marriage-fact-sheet.html</li>
<li>http://www.proxymarriagehq.com/proxy-marriage-law/</li>
<li>http://www.usmarriagelaws.com/ </li>
<li>http://www.marriageequality.org/Same Sex Marriage</li>
<li>http://www.proxymarriage.com/index.php/double-proxy-marriage</li>
</ol>

<p>In the United States, same-sex marriage has been legal nationwide since June 26, 2015, when the United States Supreme Court ruled in Obergefell v. Hodges that state-level bans on same-sex marriage are unconstitutional. The court ruled that the denial of marriage licenses to same-sex couples and the refusal to recognize those marriages performed in other jurisdictions violates the Due Process and the Equal Protection clauses of the Fourteenth Amendment of the United States Constitution. The ruling overturned a precedent, Baker v. Nelson.</p>

<p>While civil rights campaigning took place from the 1970s,[4] the issue became prominent from around 1993, when the Hawaii Supreme Court ruled that the prohibition was unconstitutional. The ruling led to federal actions and actions by several states, to restrict marriage to male-female couples, in particular the Defense of Marriage Act (DOMA). During the period 2003 - 2015, various lower court decisions, state legislation, and popular referendums had already legalized same-sex marriage to some degree in thirty-eight out of fifty U.S. states, in the U.S. territory Guam, and in the District of Columbia. In 2013 the Supreme Court overturned a key provision of DOMA, declaring part of it unconstitutional and in breach of the Fifth Amendment in United States v. Windsor because it &quot;single[d] out a class of persons&quot; for discrimination, by refusing to treat their marriages equally under federal law when state law had created them equally valid. The ruling led to the federal government's recognition of same-sex marriage, with federal benefits for married couples connected to either the state of residence or the state in which the marriage was solemnized. However the ruling focused on the provision of DOMA responsible for the federal government refusing to acknowledge State sanctioned same-sex marriages, leaving the question of state marriage laws itself to the individual States. The Supreme Court addressed that question two years later in 2015, ruling, in Obergefell, that same-sex married couples were to be constitutionally accorded the same recognition as opposite-sex couples at state/territory levels, as well as at federal level.</p>

<p>
Proxy Marriage<br>
A proxy wedding or (proxy marriage) is a wedding in which one or both of the individuals being united are not physically present, usually being represented instead by other persons. If both partners are absent a double proxy wedding occurs.</p>

<p>Marriage by proxy is usually resorted to either when a couple wish to marry but one or both partners cannot attend for reasons such as military service, imprisonment, or travel restrictions; or when a couple lives in a jurisdiction in which they cannot legally marry.</p>

<p>Proxy weddings are not recognized as legally binding in most jurisdictions: both parties must be present. A proxy marriage contracted elsewhere may be recognized where proxy marriage within the jurisdiction is not; for example, Israel recognizes proxy marriages abroad between Israelis who might not have been permitted to marry in Israel.</p>
    </ion-content>
</ion-view>
