<ion-view class="login-view" cache-view="false">
  <ion-nav-bar class="bar-stable bar-navigation bar-clear" align-title="center">
    <ion-nav-back-button style="color: #fff !important;"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="false">
    <style>
      .row {
        padding: 0 !important;
      }
    </style>
    <div class="top-content">
      <div class="login-logo">
        <img src="img/heart-ring.svg">
      </div>
    </div>
    <div class="middle-content">
      <div class="content-padding">
        <div class="row hideAndroid">
          <div class="col">
            <h1 class="white">Please select a service below.</h4>
          </div>
        </div>
        <div class="row hideAndroid">
          <div class="col">
            <button class="button button-full button-positive" ng-click="goSpecialMoment()" ng-disabled="!login.special_moment">Special Moment</button>
          </div>
        </div>
        <div class="row hideAndroid">
          <div class="col">
            <button class="button button-full button-calm" ng-click="goWeddingPartyLogin()" ng-disabled="!login.wedding_party">Wedding Party</button>
          </div>
        </div><br/>
        <div class="row hideAndroid">
          <div class="col">
            <span class="white"><b>OR</b></span>
          </div>
        </div>
        <form name="authorizationForm" novalidate="">
          <div class="input-icon">
            <img src="img/input-icon-heart.svg">
            <label class="item item-input">
              <input type="password" placeholder="Event Code:" disabled="disabled" style="background-color:rgba(0,0,0,0);">
            </label>
          </div>
          <div class="wedding-code white_background">
            <label class="item item-input">
              <input type="text" name="pincode" class="blue-input" ng-model="login.pincode" placeholder='00000' required="required" style="color: rgb(35, 61, 120) !important;">
            </label>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-full button-assertive" ng-click="attendEvent()" ng-disabled="!authorizationForm.pincode.$valid">Attend Event</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="bottom-content">
    <div class="app-logo">
    <img src="img/web-wed-logo-white.svg">
  </div>
  <div class="tos-notice">
  <h4>By using this app, you accept our <a href="#/terms-of-service/back">Terms of Service</a> and <a href="#/privacy-policy/back">Privacy Policy</a><br/>Version: 1.0.2</h4>
</div>
</div> -->
</ion-content>
</ion-view>
