<ion-view view-title="{{Properties.title}}" class="home-specialmoments-view">

  <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
    <ion-nav-back-button style="color: #fff !important;"></ion-nav-back-button>
  </ion-nav-bar>

  <link rel="stylesheet" href="css/special_moments_view.css"/>

  <ion-content scroll="false" class="has-header topHeader">
    <div class="container" id="videoContainer">
      <video class="fullscreen_video" id="fullscreen_video" autoplay></video>
      <div class="row bottom-content" style="">
        <div class="col col-19">
          <button class="button button-clear" disabled="disabled">
            <img src="img/tab-chat-white.svg">
          </button>
        </div>
        <div class="col col-19 divider">
          <button class="button button-clear" disabled="disabled">
            <img src="img/tab-gift-white.svg">
          </button>
        </div>
        <div class="col col-24 divider">
          <button id="startBroadcasting" class="button button-clear" ng-click="clickHeartButton();">
            <img src="img/tab-heart-white.svg" ng-if="!publishing">
            <img src="img/tab-heart-red.svg" ng-if="publishing">
          </button>
        </div>
        <div class="col col-19 divider">
          <button class="button button-clear" disabled="disabled">
            <img src="img/tab-event-white.svg">
          </button>
        </div>
        <div class="col col-19 divider">
          <button class="button button-clear" disabled="disabeld">
            <img src="img/tab-link-white.svg">
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
