<ion-view view-title="{{Properties.title}}" class="home-guest-view">
  <link rel="stylesheet" href="css/home_host_view.css"/>
    <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
          <img src="img/web-wed-logo-white.svg">
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content scroll="false" class="has-header topHeader">
        <div id="initialView" class="container">
            <div class="logo-content">
                <div class="logo-title"><br/></div>
            </div>

            <div class="middle-content">
                <div class="heart-line">
                    <img src="img/heart-divide-line.svg">
                </div>
                <div class="name-title">
                    <h1 ng-if="Properties.active == 'wedding'"><span ng-bind="account.yours"></span> &amp; <span ng-bind="account.yours2"></span></h1>
                    <h1 ng-if="Properties.active == 'special_moment'"><span ng-bind="account.eventName"></span></h1>
                    <h4 ng-if="Properties.active == 'wedding' || (Properties.active == 'special_moment' && account.ondemand == false)"><span ng-bind="account.longDate"></span> at <span ng-bind="account.longTime"></span></h4>
                    <h4 ng-if="(Properties.active == 'special_moment' && account.ondemand == true)"><span>On-Demand Event</span></h4>
                    <div class="h-line positive"></div>
                </div>
                <div class="button-area2">
                    <button class="button button-full button-positive" ng-click="addToCalendar();" ng-disabled="addToCalendarAction">Add To Calendar</button>
                    <button class="button button-full button-red" ng-click="inviteGuests();">Invite Guests</button>
                    <a href="#/app/account"><button class="button button-full button-grey">My Account</button></a>
                    <!-- <button class="button button-full button-positive" ng-click="watchDemo();">Watch A Demo</button -->

                </div>
            </div>

            <div class="bottom">
                <div class="h-line positive-alpha"></div>
                <h4>Event Code: <span ng-bind="account.code" style="font:monospace; text-transform: uppercase;">00000</span></h4>
            </div>

            <div class="row bottom-content" style="">
                <div class="col col-19">
                    <button class="button button-clear" ng-click="goChat()" disabled="disabled">
                        <img src="img/tab-chat-white.svg">
                    </button>
                </div>
                <div class="col col-19 divider">
                    <button class="button button-clear" ng-click="goGift()" ng-disabled="account.gifts">
                        <img src="img/tab-gift-white.svg">
                    </button>
                </div>
                <div class="col col-24 divider">
                    <button id="startBroadcasting" class="button button-clear" ng-click="showBroadcast();">
                        <img src="img/tab-heart-white.svg">
                    </button>
                </div>
                <div class="col col-19 divider">
                    <button class="button button-clear" ng-click="addToCalendar();" ng-disabled="addToCalendarAction">
                        <img src="img/tab-event-white.svg">
                    </button>
                </div>
                <div class="col col-19 divider">
                    <button class="button button-clear" ng-click="share();" ng-disabled="account.public">
                        <img src="img/tab-link-white.svg">
                    </button>
                </div>
            </div>
        </div>


    </ion-content>

</ion-view>
