<ion-view class="login-view congrats" cache-view="false">
    <style>
    button.button.back-button.buttons.button-clear.header-item {
        margin-top: 30px !important;
        margin-left: 20px !important;
        color: #fff !important;
    }

    .bar .back-button.hide, .bar .buttons .hide {
        color:#fff;
    }
    </style>
   

    <ion-content scroll="false">
        <br/><br/>
        <div class="top-content">
            <div class="login-logo">
                <img src="img/heart-ring.svg">
            </div>
        </div>
        <div class="middle-content">
            <div class="content-padding">
                <form name="authorizationForm" novalidate=""><br/><br/>
                    <div class="row">
                        <div class="col">
                            <h1 class="logo-title">Just Married!</h1>
                            <div class="heart-line">
                                <img src="img/heart-divide-line.svg">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                           <div class="name-title"><h1>We wish you all the love &amp; happiness in life.</h1></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <br/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom-content">
            <div class="app-logo">
                <img src="img/web-wed-logo-white.svg">
            </div>
            <div class="tos-notice">
				<!-- <h1 class="logo-title">When Love Can't Wait</h1> -->
            </div>
        </div>
    </ion-content>
</ion-view>