<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-header-bar class="bar-dark" style="height: 112px !important;">
          <div class="sidemenu-header">
              <div class="row">
                  <div class="col">
                    <img src="img/web-wed-logo-white.svg" class="login_menu_img"/>
                  </div>
              </div>
          </div>
      </ion-header-bar>
        <ion-content scroll="true" class="menu-content" style="top: 112px !important;">
            <ion-list>
                <ion-item menu-close href="#/login/startup">
                    Home
                </ion-item>
                <!-- <ion-item menu-close ng-click="needAccount()">
                    Sign Up
                </ion-item> -->
                <ion-item menu-close href="#/login/about">
                    About WebWed
                </ion-item>
                <ion-item menu-close ng-click="watchDemo()">
                    How It Works
                </ion-item>
                <ion-item menu-close href="#/login/legal">
                    Legal Resources
                </ion-item>
                <ion-item menu-close href="#/login/contact">
                    Contact Us
                </ion-item>
            </ion-list>
        </ion-content>
        <ion-footer-bar>
            <div class="sidemenu-copyright">
                <h6>&copy; 2012 – <span ng-bind="currentYear"></span> WebWed, LLC. All rights reserved.
                Provisional Patent Awarded. Service available only within the contiguous USA. A state issued marriage license is required to be valid. <a href="#/login/contact" menu-close>Contact Us</a></h6>

                <h5>
                  <a ng-href="#/login/terms-of-service/menu" menu-close>Terms of Service</a> and <a ng-href="#/login/privacy-policy/menu" menu-close>Privacy Policy</a>
                </h5>
            </div>
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>
