.nav-bar-title img {
  height: 35px;
  margin-top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 80px;
    left: 10%;
}

.positive-alpha {
    border-bottom-color: rgba(255,255,255,.4) !important;
}

.bottom h4, .bottom p {
    color: #ffffff;
}
