.crossroad_pizza {
    height: 269px;
    width: 426px;
	}
.preview
{
width:103px;
border:solid 1px #dedede;
}
.previewdetails
{
width:300px;
border:solid 1px #dedede;
}
.previewhome
{
width:90px;
}

#register-form .error
{
color:#CB0E0E;
}
#login-form .error
{
color:#CB0E0E;
}
.errormsg
{
color:#CB0E0E;
text-align:center;
}
.error
{
color:#CB0E0E;
}
.subscribe_input
{
margin:0 0 10px;
}
.who_deliver_img
{
width:50px;
height:50px;
}

h1, h2, h3, h4, h5{font-family: "Oranienbaum"; text-transform: capitalize;}

h2{font-size: 30px; text-transform: capitalize;}
h3{font-size: 40px; padding-top: 20px; text-transform: capitalize;}

.btn {
    display: inline-block;
    padding: 6px 12px;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 150px;
    color: black;
    font-size: 20px;
}

a:hover {
    color: #bdbdbd;
    text-decoration: none;
}

.form_main {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}

/*label {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: bold;
    width: 50%;
}*/


.disclaimer {
    font-family: "helvetica","arial","sans serfi";
}

/*label {
    display: inline-block;
    margin-bottom: 0px;
    width: 60%;
    font-family: "roboto", "lato", "open sans", "sans-serif";
    font-weight: normal;
    font-size: 14px;
}*/

#startDayItem, #stateItem, #willingnessItem {
  max-width: 100px !important;
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#stateItems, #startDayItems, #payment_notification {
  float:left;
  width:100%;
}

input[type="file"], input[type="submit"], p {
  width: 100%;
  max-width:100%;
}

#stateName {
  padding-left: 5px;
  padding-right: 5px;
}
