body{
background-color: #023a7b;
color: white!important;
text-align: center;
height:100%;
}

h2, h3, h4{color:white!important;}

#wrapper{margin-left: auto;
margin-right: auto; height: 100%; width: 80%; display: table; vertical-align:middle;}

.container{display: table-cell; margin: auto; vertical-align:middle;}