@charset "utf-8";
/* CSS Document */
/* The One v1.2 || ex-nihilo || April - June 2013 */


/*
	0.  reset
	1.  body
		1.1		pattern
		1.2		left shadow
		1.3		right shadow
		1.4		bottom shadow
	2.  header
		2.1		site name
		2.2		social links
	3.  contents
		3.1		jCarousel
		3.2		rollover
		3.3		smartTab
		3.4     social media team
		3.5     events date
    4.  footer
		4.1     menu
		4.2     menu right
	5.  twitter ticker
	6.  newsletter
	7.  copyright
    8.  extras
	9.  credits
	10. fonts
*/

/* 0. reset */

/*
@font-face{
	src:url('../fonts/Lato-Regular_gdi.ttf');
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular_gdi.eot');
	src: url('../fonts/Lato-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Regular_gdi.woff') format('woff'),
		 url('../fonts/Lato-Regular_gdi.ttf') format('truetype'),
		 url('../fonts/Lato-Regular_gdi.svg#Lato-Regular_gdi') format('svg');
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
	font-smooth: always;
}
@font-face{
	src:url('../fonts/Lato-Bold_gdi.ttf');
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold_gdi.eot');
	src: url('../fonts/Lato-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Lato-Bold_gdi.woff') format('woff'),
		 url('../fonts/Lato-Bold_gdi.ttf') format('truetype'),
		 url('../fonts/Lato-Bold_gdi.svg#Lato-Bold_gdi') format('svg');
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
	font-smooth: always;
}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* 1. body */
* {
margin: 0;
padding: 0;
outline: none;
}

body {
/*font-family: 'Lato-Regular', 'Arial', 'Helvetica, sans-serif';
font-size: 12px;
color: #676767 ;*/
margin: 0;
padding: 0;
/*overflow: hidden;*/
}

a {
color: #0000FF;
text-decoration: none;
outline: none;
}

a:hover {
color: #555;
}

ul {
list-style: none;
}

h1 {
font-family: 'BebasNeueRegular';
font-size: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
color: #7bccc9 ;
padding: 0 0 10px 0;
}
.clear{clear: both;}
body{overflow-x: hidden;background-color: #f4f4f4;}

@media only screen and (min-width: 1366px) and (max-width: 1920px){
	.wrapper,.container-full{width:1200px !important;}
	.homevideowrapper{width: 700px !important;height: 393px !important;}
	.home_img{width: 430px !important;height: 336px !important;}
	.jcarousel-skin-one .jcarousel-prev-horizontal{left: -420px !important;}
	.jcarousel-skin-one .jcarousel-next-horizontal{left: -360px !important;}
	.jcarousel-skin-one .jcarousel-item-horizontal{margin-right: 110px !important;}
	.login{width: 600px !important;}
	.payment{width: 80% !important;}
	.mared_info{width: 700px !important;}
	.mared .clear{margin-bottom: 200px;}
}


.mb_YTVPBar .buttonBar{background-color: #272727;}
.mb_YTVPBar .buttonBar:hover{background-color: #272727;}




/* 1.1 pattern */
#pattern {
position: fixed;
width: 100%;
height: 100%;
overflow: hidden;
background: url(../images/pattern.png) repeat left top;
z-index: 1;
}

/* 1.2 left shadow */
#left-shadow {
width: 30px;
height: 100%;
position: fixed;
left: 0;
top: 0;
background: url(../images/left-shadow.png) repeat-y;
overflow: hidden;
z-index: 1;
}

/* 1.3 right shadow */
#right-shadow {
width: 30px;
height: 100%;
position: fixed;
right: 0;
top: 0;
background: url(../images/right-shadow.png) repeat-y;
overflow: hidden;
z-index: 1;
}

/* 1.4 bottom shadow */
.bottom-shadow {
width: 100%;
height: 30px;
position: fixed;
left: 0;
bottom: 95px;
background: url(../images/bottom-shadow.png) repeat-x;
overflow: hidden;
z-index: 1;
}

/* 2. header */
#header {
background: #fff ;
color: #fff;
width: 100%;
height: 112px;
overflow: hidden;
margin: 0;
padding: 0;
position: fixed;
left: 0;
top: 0;
z-index: 2;
}

/* 2.1 site name */
.site-name {
/*font-family: 'BebasNeueRegular';
*/font-size: 45px;
line-height: 45px;
font-style: normal;
font-weight: normal;
padding: 0;
margin: 40px 0 0 0;
color: #fff;
text-align: center;
}

.site-name a {
color: #fff;
}

.site-name a:hover {
color: #fff;
}

/* 2.2 social links */
#social-icons {
position: fixed;
width: auto;
height: 25px;
top: 45px;
left: 8px;
background: none;
}

#social-links {
height: 25px;
background-position: 0 -50px;
}

#social-links a img {
height: 22px;
background: url(../images/social-links.png);
outline: none;
}

/*#social-links a img.social-link-twitter { width: 60px; background-position: 0 -45px; }
#social-links a img.social-link-youtube { width: 60px; background-position: -60px -46px; }
#social-links a img.social-link-facebook { width: 70px; background-position: -120px -45px; }
#social-links a img.social-link-linkedin { width: 90px; background-position: -190px -46px; }
#social-links a img.social-link-peri{width: 78px;background-position: -275px -45px;}
#social-links a img.social-link-twitter:hover { width: 60px; background-position: 0 -69px; }
#social-links a img.social-link-youtube:hover { width: 60px; background-position: -60px -70px; }
#social-links a img.social-link-facebook:hover { width: 70px; background-position: -120px -69px; }
#social-links a img.social-link-linkedin:hover { width: 90px; background-position: -190px -70px; }
#social-links a img.social-link-peri:hover{width: 78px;background-position: -274px -69px;}*/


#panel-contents-gmaps,#panel-contents{background: #0903ed none repeat scroll 0% 0%;}
#panel-contents-gmaps h2{text-align: center;font-family: "BebasNeueRegular";
font-size: 50px;font-style: normal;font-weight: normal;text-transform: uppercase;color: #fff;padding: 60px 0px 10px;}
#panel-contents h1{color: #fff;}
#form .submit{background-color: #010101;color: #fff;}

.mob_nav{display: none;}
.contactForm label{color: #fff;}

/* 3. contents */
.slide {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #676767 ;
width: 100%;
height: auto;
overflow: hidden;
background: #fff;
position: fixed;
bottom: 95px;
left: 0;
display: none;
z-index: 998;
padding-bottom: 15px;
}
#slide-section7, #slide-section6, #slide-section8,#slide-section1-3 {
height: auto;
}
#slide-section7 p, #slide-section6 p, #slide-section8 p {
font-size: 12.5px;
}

.wrapper {
/*width: 990px;*/
margin: 35px auto;
background: #fff;
}

span.close {
width: 15px;
height: 15px;
background: url(../images/close-wrapper.png) no-repeat;
position: absolute;
top: 8px;
right: 8px;
cursor: pointer;
}

span.close:hover {
background-position: 0 -15px;
}

/* 3.1 jCarousel */
.wrapper-full {
width: 100%;
margin: 0 auto;
}

.container-full {
width: 1000px;
margin: 0 auto;
}

.post-left-top {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #555;
position: relative;
margin-right: 5%;
float: left;
}

.post-left-top .event_title{
    font-family: "BebasNeueRegular" !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: normal;
    color: #676767;
    display: block;
    margin: 15px 0px;
}
.post-left-top {
width: 30%;
}


.post-left-bottom {
position: relative;
margin-right: 6%;
float: left;
}

.post-left-bottom {
width: 64%;
}

.last {
margin-right: 0 !important;
clear: right;
}

.last p {
padding: 0 0 10px 0;
}

.jcarousel-skin-one .jcarousel-container {
margin: 0;
padding: 0;
height: 240px;
}

.jcarousel-skin-one .jcarousel-direction-rtl {
direction: rtl;
}

.jcarousel-skin-one .jcarousel-container-horizontal {
width: 100%;
min-height: 240px;
text-align: left;
font-style: normal;
font-weight: normal;
}

.jcarousel-skin-one .jcarousel-container-horizontal .titles {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
color: #676767 ;
display: block;
margin: 15px 0 15px 0;
}

.jcarousel-skin-one .jcarousel-container-horizontal .titles-more {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
color: #676767 ;
display: block;
margin: 0 0 15px 0;
}

.jcarousel-skin-one .jcarousel-clip {
overflow: hidden;
}

.jcarousel-skin-one .jcarousel-clip-horizontal {
width: 100%;
min-height: 240px;
}

.jcarousel-skin-one .jcarousel-item {
width: 290px;
height: 240px;
}

.jcarousel-skin-one .jcarousel-item img {
border: none;
}

.jcarousel-skin-one .jcarousel-item img:hover {
border: none;
}

.jcarousel-skin-one .jcarousel-item-horizontal {
margin-left: 0;
margin-right: 60px;
}

.jcarousel-skin-one .jcarousel-direction-rtl .jcarousel-item-horizontal {
margin-left: 10px;
margin-right: 0;
}

.jcarousel-skin-one .jcarousel-item-placeholder {
color: #555;
}

.jcarousel-skin-one .jcarousel-next-horizontal {
position: absolute;
bottom: 57px;
left: -300px;
width: 40px;
height: 40px;
cursor: pointer;
background: url(../images/horizontal-next.png) no-repeat 0 0;
}

.jcarousel-skin-one .jcarousel-direction-rtl .jcarousel-next-horizontal {
left: 5px;
right: auto;
background-image: url(../images/horizontal-previous.png);
}

.jcarousel-skin-one .jcarousel-next-horizontal:hover,
.jcarousel-skin-one .jcarousel-next-horizontal:focus {
background-position: -40px 0;
}

.jcarousel-skin-one .jcarousel-next-horizontal:active {
background-position: -80px 0;
}

.jcarousel-skin-one .jcarousel-next-disabled-horizontal,
.jcarousel-skin-one .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-one .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-one .jcarousel-next-disabled-horizontal:active {
cursor: default;
background-position: -120px 0;
}

.jcarousel-skin-one .jcarousel-prev-horizontal {
position: absolute;
bottom: 57px;
left: -350px;
width: 40px;
height: 40px;
cursor: pointer;
background: transparent url(../images/horizontal-previous.png) no-repeat 0 0;
}

.jcarousel-skin-one .jcarousel-direction-rtl .jcarousel-prev-horizontal {
left: auto;
right: 5px;
background-image: url(../images/horizontal-next.png);
}

.jcarousel-skin-one .jcarousel-prev-horizontal:hover,
.jcarousel-skin-one .jcarousel-prev-horizontal:focus {
background-position: -40px 0;
}

.jcarousel-skin-one .jcarousel-prev-horizontal:active {
background-position: -80px 0;
}

.jcarousel-skin-one .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-one .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-one .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-one .jcarousel-prev-disabled-horizontal:active {
cursor: default;
background-position: -120px 0;
}

/* 3.2 rollover */
span.roll-news {
background: #676767  url(../images/rollover-photos.png) center center no-repeat;
width: 290px;
height: 100px;
position: absolute;
/*
-webkit-box-shadow: 0 0 5px #676767 ;
-moz-box-shadow: 0 0 5px #676767 ;
box-shadow: 0 0 5px #676767 ;
*/
}

span.roll-team {
background: #676767  url(../images/rollover-photos.png) center center no-repeat;
width: 290px;
height: 100px;
position: absolute;
/*
-webkit-box-shadow: 0 0 5px #676767 ;
-moz-box-shadow: 0 0 5px #676767 ;
box-shadow: 0 0 5px #676767 ;
*/
}

span.roll-photos {
background: #676767  url(../images/rollover-photos.png) center center no-repeat;
width: 290px;
height: 100px;
position: absolute;
/*
-webkit-box-shadow: 0 0 5px #676767 ;
-moz-box-shadow: 0 0 5px #676767 ;
box-shadow: 0 0 5px #676767 ;
*/
}

span.roll-videos {
background: #676767  url(../images/rollover-videos.png) center center no-repeat;
width: 290px;
height: 100px;
position: absolute;
/*
-webkit-box-shadow: 0 0 5px #676767 ;
-moz-box-shadow: 0 0 5px #676767 ;
box-shadow: 0 0 5px #676767 ;
*/
}

/* 3.3 smartTab */
.stContainer {
position: relative;
margin: 0;
padding: 0;
background: none;
width: auto;
}

.stContainer div {
position: relative;
margin: 0 0 0 10px;
padding: 0 10px 0 0;
width: 460px;
height: 180px;
background: none;
text-align: justify;
float: left;
background: none;
overflow: auto;
}

.stContainer p {
margin: 0;
padding: 0 0 10px 0;
line-height: normal;
}

.stContainer>ul {
display: block;
list-style: none;
float: left;
position: relative;
padding: 0;
margin: 0;
width: 160px;
height: 180px;
clear: both;
}

.stContainer ul li {
position: relative;
margin: 6px 0;
padding: 0;
float: left;
}

.stContainer>ul li a {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-decoration: none;
display: block;
margin: 0;
padding: 0;
line-height: 18px;
text-align: center;
width: 120px;
/*height: 30px;*/
color: #676767 ;
outline: none;
}

.stContainer ul li a:hover {
color: #676767 ;
background: none;
}

.stContainer ul li a.sel {
width: 120px;
/*height: 30px;*/
color: #fff;
background: #7bccc9 ;
cursor: text;
}

.stContainer ul li a.dis {
color: #676767 ;
background: #555;
cursor: text;
}

/* 3.4 social media team */
.social { list-style: none; margin: -5px 0 0 0; width: 222px; background: #fff; }
.social li { display: inline; float: left; background-repeat: no-repeat; }
.social li a { display: block; width: 32px; height: 32px; padding-right: 5px; position: relative; text-decoration: none; }
.social li a strong {
font-weight: normal;
font-style: normal;
position: absolute;
left: 37px;
top: -5px;
color: #fff;
padding: 3px;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
background-color: rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

li.facebook { background-image: url("../images/facebook.png"); }
li.google-plus { background-image: url("../images/google-plus.png"); }
li.linkedin { background-image: url("../images/linkedin.png"); }
li.twitter { background-image: url("../images/twitter.png"); }
li.youtube { background-image: url("../images/youtube.png"); }
li.skype { background-image: url("../images/skype.png"); }

/* 3.5 events date */
.place-date {
font-family: 'BebasNeueRegular';
font-size: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
margin: 0;
padding: 0;
color: #676767 ;
}

.place-month {
font-family: 'BebasNeueRegular';
font-size: 35px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
margin: 0;
padding: 0;
color: #555;
}

.place-year {
font-family: 'BebasNeueRegular';
font-size: 30px;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
text-align: left;
margin: 0;
padding: 0;
color: #676767 ;
}

/* 4. footer */
#footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 95px;
background: url(../images/footer-bg.png) repeat-x;
z-index: 999;
}

/* 4.1 menu */
#menu {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
position: absolute;
left: 8px;
}

#menu a {
color: #fff;
}

#menu a:hover {
color: #676767 ;
}

#menu ul, li {
margin: 0;
padding: 0;
}

#menu nav ul, li {
list-style: none;
margin: 0;
padding: 0;
}

.menu {
float: left;
margin: 0;
padding: 0;
}

.menu .lifting {
margin: 0 0 5px 0;
}

.menu .lifting-first {
margin: 0 0 0 0;
}

.menu li a, .menu li {
float: left;
text-transform: uppercase;
}

.menu li {
position: relative;
padding: 5px 25px 0 0;
}

.menu li a {
padding: 3px 5px;
text-decoration: none;
color: #fff;
-moz-transition: 0.2s ease-in;
-webkit-transition: 0.2s ease-in;
}

.menu li a:hover {
background: #fff;
}

.menu li ul {
display: none;
left: 0;
position: absolute;
bottom: 100%;
background: none;
}

.menu li:hover ul {
display: block;
width: auto;
}

.menu li ul a {
white-space: nowrap;
background: #676767 ;
}

.menu li ul a:hover {
background: #7bccc9 ;
}

/* 4.2 menu right */
#menu-right {
font-family: 'BebasNeueRegular';
font-size: 20px;
font-style: normal;
font-weight: normal;
position: absolute;
right: 8px;
}

#menu-right a {
color: #7bccc9 ;
}

#menu-right a:hover {
color: #676767 ;
}

#menu-right ul, li {
margin: 0;
padding: 0;
}

#menu-right nav ul, li {
list-style: none;
margin: 0;
padding: 0;
}

.menu-right {
float: left;
margin: 0;
padding: 0;
}

/*
.menu-right .lifting {
margin: 0 0 10px 0;
}

.menu-right .lifting-first {
margin: 0 0 5px 0;
}
*/

.menu-right li a, .menu-right li {
float: left;
text-transform: uppercase;
}

.menu-right li {
position: relative;
padding: 5px 0 0 25px;
}

.menu-right li a {
padding: 3px 5px;
text-decoration: none;
color: #fff;
-moz-transition: 0.2s ease-in;
-webkit-transition: 0.2s ease-in;
}

.menu-right li a:hover {
background: #fff;
}

.menu-right li ul {
display: none;
left: 0;
position: absolute;
bottom: 100%;
background: none;
}

.menu-right li:hover ul {
display: block;
width: auto;
}

.menu-right li ul a {
white-space: nowrap;
background: #676767 ;
}

.menu-right li ul a:hover {
background: #7bccc9 ;
}

/* 5. twitter ticker */
.tweet, .query {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 12px;
color: #676767 ;
position: absolute;
left: 40px;
bottom: 9px;
background: none;
width: 445px;
height: 30px;
}

.tweet_list {
list-style: none;
margin: 0;
padding: 0;
overflow-y: hidden;
background: none;
}

.tweet_list li {
overflow-y: auto;
overflow-x: hidden;
padding: 0;
list-style-type: none;
}

.tweet_list li a {
color: #555;
}

.tweet_list .tweet_even {
background: none;
}

.tweet_list .tweet_avatar {
padding-right: 0;
float: left;
}

.tweet_list .tweet_avatar img {
vertical-align: middle;
}

#ticker ul.tweet_list {
height: 30px;
overflow-y: hidden;
}

#ticker .tweet_list li {
height: 30px;
}
.ticker-content a{color:#000;}
.ticker-content a:hover{color:#000;}
.ticker-swipe{background: #fff none repeat scroll 0% 0%;}
.ticker-title{color: #0903ed;}


#tweets {
width: 445px;
height: 30px;
position: fixed;
bottom: 10px;
left: 8px;
background: none;
z-index: 999;
}

a.logo {
position: absolute;
margin: 0;
top: -10px;
display: block;
width: 30px;
height: 25px;
background: #181818  url(../images/twitter-icon.png) no-repeat 0 0;
text-indent: -9999em;
}

a.logo:hover {
background-color: #676767 ;
}

.loading {
background: url(../images/twitter-loader.gif) no-repeat;
width: 24px;
height: 24px;
text-indent: -9999em;
margin: 2px 0 0 0;
padding: 0;
}

/* 6. newsletter */
#subscribewrapper {
width: 200px;
height: 23px;
background-image: url(../images/subscribebox.png);
background-repeat: no-repeat; /* important */
background-position: top right;
padding: 0 0 0 80px;
margin: 0;
position: fixed; /* important */
right: 8px;
bottom: 24px;
z-index: 999;
}

#subscribewrapper-success {
font-family: 'BebasNeueRegular';
font-size: 14px;
font-style: normal;
font-weight: normal;
width: 200px;
height: 23px;
padding: 0;
margin: 0;
position: fixed; /* important */
right: 8px;
bottom: 13px;
text-align: right;
z-index: 999;
}

.subscribewrapper-success-red {
color: #7bccc9 ;
}

#subscribewrapper-label {
font-family: 'BebasNeueRegular';
font-size: 14px;
font-style: normal;
font-weight: normal;
color: #676767 ;
text-transform: uppercase;
position: absolute;
top: 5px;
left: 17px;
margin-top:0;
}

#subscribewrapper form {
display: inline;
}

#newsletter2 {
border: none; /* important */
background: none; /* important*/
position: absolute; /* important */
top: 4px;
left: 91px;
width: 112px;
height: 15px;
font-size: 11px;
color: #bcbcbc;
}

#newsletter label.error {
font-family: Arial, Helvetica, sans-serif;
font-size: 9px;
text-transform: uppercase;
color: #7bccc9 ;
position: absolute;
text-align: right;
top:25px;
right: 0;
}

input.subscribebox-submit {
border: none; /* important */
background: url(../images/subscribe-btn.png) 0 0 no-repeat; /* important */
position: absolute; /* important */
top: 0;
right: 0;
right: 0; /* IE6 */
width: 75px;
height: 23px;
outline: none;
overflow: hidden;
cursor: pointer;
}

#replacement {
border: none; /* important */
background: url(../images/subscribe-btn.png) 0 0 no-repeat; /* important */
position: absolute; /* important */
top: 0;
right: 0;
right: 0; /* IE6 */
width: 75px;
height: 23px;
outline: none;
overflow: hidden;
cursor: pointer;
}

/* 7. copyright */
#copyright {
font-size: 9px;
text-transform: uppercase;
position: fixed;
width: auto;
left: 8px;
bottom: 5px;
background: #fff;
z-index: 999;
}

#copyright a {
color: #676767 ;
}

#copyright a:hover {
color: #333;
}

/* 8. extras */
#extras {
position: fixed;
background: #676767 ;
width: 100%;
height: 100%;
margin-top: -100%;
display: none;
top: 0;
left: 0;
z-index: 99999;
background: #171F59 url(http://www.webwedmobile.com/css/webwedapp_login_and_streaming.png) no-repeat;
background-size: 100%;
background-position-y: -30px;
}

#text-extras {
width: 100%;
background: none;
position: absolute;
left: 10%;
bottom: 15%;
font-size: 20px;
z-index: 99999;
}

#text-extras p {
font-family: 'BebasNeueRegular';
font-style: normal;
font-weight: normal;
color: #fff;
}

#text-extras a {
font-family: 'BebasNeueRegular';
font-style: normal;
font-weight: normal;
color: #7bccc9 ;
}

#text-extras a:hover {
color: #fff;
}

/* 9. credits */
#credits {
position: fixed;
background: #676767 ;
width: 100%;
height: 100%;
margin-top: -100%;
display: none;
top: 0;
left: 0;
z-index: 99999;
}

#text-credits {
width: 100%;
background: none;
position: absolute;
left: 10%;
bottom: 15%;
font-size: 20px;
z-index: 99999;
}

#text-credits p {
font-family: 'BebasNeueRegular';
font-style: normal;
font-weight: normal;
color: #fff;
}

#text-credits a {
font-family: 'BebasNeueRegular';
font-style: normal;
font-weight: normal;
color: #7bccc9 ;
}

#text-credits a:hover {
color: #fff;
}

/* 10. fonts */
@font-face {
font-family: 'BebasNeueRegular';
src: url('../fonts/bebasneue-webfont.eot');
src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/bebasneue-webfont.woff') format('woff'),
url('../fonts/bebasneue-webfont.ttf') format('truetype'),
url('../fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
font-style: normal;
font-weight: normal;
}

.form_main { width:100%; padding:0 0 95px;height: 100%; z-index: 1; }
.form_main_inside {   }
.login { position:relative; width:450px; margin:40px auto;}
.form_main h1 { color:#5D5D5D; font-family:"BebasNeueRegular"; font-size:50px; font-style:normal; font-weight:normal; padding:0 0 10px;
    text-align:center; text-transform:uppercase; }

.form_main h3 { color:#fff; font-family:"BebasNeueRegular"; font-size:18px; font-style:normal; font-weight:normal; padding:0 0 10px;
    text-align:center; text-transform:uppercase; }


.input_text { font-family:Arial, Helvetica, sans-serif; font-size:14px; padding:0; height:40px; width:100%; background:#fff;
margin:10px 10px 10px 0; text-indent:5px;border: 1px solid #999; }
.form_main p { font-family: 'Lato-Regular','Arial','Helvetica, sans-serif'; font-size:15px; color:#565656; margin:5px 0 10px; display: inline-block; }
.form_main p span { font-size:13px; }
.checkbox { height:15px; width:15px; background:#fff; border:none; }

.btn { background:#7bccc9; color:#fff; font-family:"BebasNeueRegular"; font-size:30px; text-transform:uppercase; margin:15px 20px 15px auto;
padding:7px 50px; border:none; cursor:pointer; }
.btn:hover { color:#fff; }

.btn2 { background:#7bccc9; color: #FF0000; font-family:"BebasNeueRegular"; font-size:30px; text-transform:uppercase; margin:15px 20px 15px auto;
padding:7px 50px; border:none; cursor:pointer; }
.btn2:hover { color: #0000FF; }


.btn_small { background:#7bccc9; color:#fff; font-family:"BebasNeueRegular"; font-size:20px; text-transform:uppercase; margin:15px 20px 15px auto;
padding:7px 50px; border:none; cursor:pointer; }


/*label { font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#fff; float:left; width:100%; }*/
.textarea { height:70px !important; resize:none; }
.scroll { padding:100px 0; }
.form_left { width:50%; float:left;  }
.select_option { width:100% !important; margin:10px 10px 10px 0px; height:40px; }
.footer_main { height:95px; position:fixed; bottom:0;z-index:999; width:100%; }
.header_main { position:fixed; height:111px; left:0; right:0; z-index:9; width: 100%; }
.form_main h2 { color:#fff; font-family: Arial, Helvetica, sans-serif; font-size:22px; padding:0 0 10px; margin:30px 0 10px; text-align:left;
border-bottom:1px solid #fff; }
.disclaimer { font-size:12px !important; float: left; text-align:justify; margin:10px 0 0 !important; }
.disclaimer span { font-size:13px; color:#000; font-weight:bold; }
.disclaimer a { color:#fff; text-decoration:underline; }
.payment { width:100% !important;  }
.payment_left { width:42%; float:left; margin-bottom:30px; }
.payment_right { width:42% !important; float:right; margin-bottom:30px; }
.dashboard h2 { color:#fff; font-family:"BebasNeueRegular" !important; font-size:30px !important; font-style:normal; font-weight:normal;
padding:0 0 10px; text-align:left; text-transform:uppercase; border-bottom:1px solid #fff; }
.dashboard p span { font-weight:bold; font-size:20px; margin:20px 0 10px; float:left; width:100%; }
.user_info { font-weight:bold; width:420px; float:left; }
.user_info_right { width:60%; float:left; }
.panel-button a,.panel-button-gmaps a,.panel-button a:hover,.panel-button-gmaps a:hover{
	color:#0903ed;

}

.msg_success {
	background: green none repeat scroll 0 0;
    color: black;
    display: block;
    font-size: 18px;
    margin-top: 14px;
    padding: 10px;
}


#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#customers td, #customers th {
    font-size: 14px;
    border: 1px solid #676767;
    padding: 3px 7px 2px 7px;
	color: #000000;
}

#customers th {
    font-size: 14px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #3E3E3E;
    color: #ffffff;
}

#customers tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

.message_section {
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    margin: 31px 0 10px;
    padding: 0 0 10px;
    text-align: center;
}

.textarea_section{
	height: 176px;
    width: 441px;
}

.cvalue{
 font-size:15px;
 font-weight:bold;
}



/*******new theme css*******/
/**header***/
.site-name{margin-top: 5px;}
#social-icons,.ticker-wrapper.has-js{top: 15px;}
#header{height: auto;}
#top-panel-container,#top-panel-container-gmaps{top: 70px;}
#panel-gmaps,#panel{top:-1px;}
.panel-shadow-gmaps{background: none;}
.panel-button-gmaps{z-index: 2;}

.form_main a{color: #496AD5}
a.btn,a.btn2{color: #fff;}
#header{border-bottom: 4px solid #000;}
.panel-shadow,#left-shadow,#right-shadow,.bottom-shadow,#pattern{background: none;}
.mb_YTVTime,.menu li ul a,.btn{background: #0903ed none repeat scroll 0% 0%;}
.menu li ul a:hover{background: #fff none repeat scroll 0% 0%;color: #010101;}
#menu-right a{color: #fff;}
.form_main{background: none;}
.slide h1{color: #0903ed;}
#customers td a{color: #0903ed;}
.stContainer ul li a.sel{background-color: #181818;padding: 8px 0;}
.btn_small{background: #3E3E3E none repeat scroll 0% 0%;
color: #fff !important;}
#customers td{color: #4a4a4a;}
#costumers th{color: #fff;}
.social_mobile{display: none;}
.slide{border-top: 1px solid #ccc;}
.slide h2{color: #505050;font-size: 14px;font-family: 'Lato-Bold';margin-bottom: 5px;}
.disclaimer span#disclaimer{color: #4A4A4A;font-family: 'Lato-Bold';font-size: 18px !important;}
.disclaimer span#note{color: #4a4a4a;font-weight: bold;}
.video_msg{background-color: #171717;}
.video_msg a{color: #fff;}
.slide p{font-size: 12.5px !important;}

.home_video{position: relative;
padding-bottom: 56.25%;
height: 0px;overflow-x: hidden;top: 88px;height: 50px;}
.home_video iframe{position: absolute;
top: 0px;
left: 0px;
width: 107%;
height: 100%;}
#copyright{bottom: 20px;}
#mycarousel-1-1,#mycarousel-1-2,#mycarousel-1-3,#mycarousel-1-4{left: 0 !important}
.html5-video-player .ad-overlay{display: none !important;}
.mob_footer{display: none;}
.dt_footer{display: block;}
.wrapper{background-color: transparent;}
.homevideowrapper{width: 590px;height: 332px;top: 0 !important;position: relative;border: 4px solid #fff;float: left;z-index: 0;}
.homevideowrapper iframe{width: 100%;height: 100%;}
.home_img{width: 360px;float: right;padding-top: 0;height: 336px;}
.home_img img{width: 48%;border: 3px solid #fff;float: left;opacity: 0.9;
	-webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;}
.home_img img:hover
{
opacity: 1;
position: relative;
z-index: 999;
-ms-transform: rotate(10deg); /* IE 9 */
-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
transform: rotate(10deg);
}
.home_bottom_space{height: 90px;}
.login{background-color: #fff; padding-top: 120px;padding-bottom: 120px;padding-left: 30px;padding-right: 30px;}
.select_option,.textarea_section{border: 1px solid #999;}
.form_main h2{font-family: 'Lato-Regular';color: #0903ed;}
label{color: #565656;font-family: 'Lato-Regular';}
.redh3{font-size: 18px !important;color: #FD7272 !important;text-align: left !important;font-family: 'Lato-Bold' !important;}

.video_msg {background:rgba(0,0,0,0.6);float: right;position: relative;top:50px;padding: 20px;}
.video_msg a{font-size: 18px;}

.howvideowrapper{width: 100%;height: 401px;top: 85px;position: relative;border: 4px solid #fff;margin-bottom: 95px;text-align: center;}
.howvideowrapper #how_video{width: 100%;height: 100%;}
.howvideowrapper iframe{width: 100%;height: 100%;}
.livewedlink{font-family: 'Lato-Bold';font-size: 23px;text-transform: none;text-decoration: underline;color: #FD7272 !important;display: block;margin-bottom: 30px;}
.italicheading{font-family: 'georgia' !important;font-size: 24px !important;font-style: italic !important;text-transform: none !important;}
form#wedding_schedule{margin-top: -15px;}
form#wedding_schedule h2{border-bottom: 1px solid #ccc;font-family: 'Lato-Bold';font-size: 18px;}
.say_ido{position: fixed;width: auto;height: 25px;top: 15px;right: 20px;
	background: transparent none repeat scroll 0% 0%;z-index: 99;}
.say_ido a{background-color: #0903ed;font-size: 24px;padding: 8px 20px;color: #fff;font-family: 'georgia';font-style: italic;border-radius: 5px;-webkit-border-radius: 5px;
    -moz-border-radius: 5px;behavior: url(PIE.htc);}



#pattern{display: none;}

.mlinks_page{background: url('../images/mlinkbg.jpg') no-repeat;
  background-size: 100% auto;overflow-x: scroll;}

 .mlink_wrapper{width: 945px;margin: 0 auto;margin-top: 200px;margin-bottom: 200px;text-align: center;}
 .mlink_wrapper>div{width: 280px;float: left;text-align: center;padding-left: 15px;padding-right: 15px;}
 .mlink_wrapper div.clear{width:auto;float: none;padding: 0;}
 .mlink_wrapper h2{font-family: 'georgia';font-size: 23px;color: #000;margin-bottom: 5px;font-style: italic;}
 .bride,.groom{padding-top: 100px;}
 .bride_vid{border: 5px solid #25408f;}
 .minister_vid{border: 5px solid #fcaf17;}
 .groom_vid{border: 5px solid #00aeef;}

 .slide{max-height: 370px;overflow-y:scroll;z-index: 1004;}

 .mlink_wrapper iframe{height:150px; width:100%;}
 .titles-more {
    font-family: "BebasNeueRegular";
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #676767;
    display: block;
    margin: 0px 0px 15px;
}

.legal_pages{background-color: #fff;margin-bottom: 20px;padding: 25px 15px 150px;top:110px;position: relative;}
.legal_pages h1{color: #000;font-size: 24px;}
.legal_pages h6{font-family: 'Lato-Bold';font-size: 15px;margin-top: 25px;margin-bottom: 8px;}
.legal_pages p,.legal_pages ul{font-size: 13px;line-height: 1.5;margin-bottom: 10px;}
.legal_pages h5{font-size: 14px;line-height: 1.5;margin-bottom: 10px;font-family: 'Lato-Bold';color: #3A53A5;margin-top: 10px;}
.legal_pages ul{list-style-type: square;}


#dmque,#dmcert{display: none;}
.mared{position: relative;top:110px;}
.mared_tabs{width: 300px;float: left;}
.mared_tabs ul li{background-color: #3E3E3E;width: 100%;margin: 12px 0px;padding: 10px 0 10px 10px;}
.mared_tabs ul li a{color: #fff;font-family: 'Lato-Regular';font-size: 15px;}
.mared_info{float: right;width: 590px;height: 332px;position: relative;}
.mared_info{top:0;}
.mared_info .homevideowrapper{top:0;}



.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
	z-index: 99999;
	display: none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	behavior: url(PIE.htc);
}



.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog div#modal-content {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	max-height: 65%;overflow-y:scroll;

}


.modalDialog div#modal-content div.legal_pages{top:0;padding-bottom: 0;}
.modalDialog div#modal-content div.legal_pages h1{font-size: 20px;}

.modalDialog div#close-box{
	position: relative;
	width: 400px;
	margin: 10% auto;
}

.modalDialog div#close-box .close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -20px;
	text-align: center;
	top: -32px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	behavior: url(PIE.htc);
}

.modalDialog div#close-box .close:hover { background: #0903ED; color: #fff;}


.agree_btn{text-align: center;padding: 20px 0;border-top: 1px solid #ccc;}
.agree_btn button{width: 150px;height: 35px;border-radius: 5px;border: none;background-color: #1A1A1A;color: #fff;font-size: 18px;cursor: pointer;}

p.event-title{color: #0903ED !important;font-size: 18px !important;margin-top: -13px !important;}
.event_img{width: 48%;margin-bottom: 15px;margin-right: 5px;float: left;}
.lb-outerContainer{background-color: transparent !important;}

.invitation_page{background: url('../images/wi2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.panel-button img,.panel-shadow, #left-shadow, #right-shadow, .bottom-shadow, #pattern,.panel-button-gmaps img, #legal{display: none;}
.panel-button{z-index: 0;}
.video-ads{display: none !important;}
.legal_tabs{
position: relative;
margin: 0px;
padding: 0px;
background: transparent none repeat scroll 0% 0%;
width: auto;
}
.legal_tabs .legal_pages{top:0;height: auto;}


/* OFFICIANT LOGIN PAGE */

#login-btn {
	color: white;
}

#login-btn:hover {
	color: black;
}

.btn-blue {
	color: white !important;
}

.btn-blue:hover {
	color: black !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
	width: 100%;
	text-align: center;
	margin: 12px 0;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style 3 */

.inputfile-3 + label {
    color: #346195;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #346195;
}


/* AVATAR UPLOAD */
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

.fileinput-remove {
    width: 33px !important;
    min-width: 28px !important;
    padding: 8px !important;
	margin: 0 !important;
}

.btn-file {
    min-width: 28px !important;
    margin: 0 !important;
    width: 33px !important;
    padding: 8px !important;
}

.willing_radio {
	position: absolute !important;
}

.willing_radio label {
    float: left;
    width: 50px;
    line-height: 42px;
}

.willing_radio label input {
    float: left;
    width: 50px;
}

/* PAGE STYLING */
.page-content {
	padding-top: 100px;
	padding-bottom: 100px;
}



.nav-pills>li>a {
    font-weight: 500;
    color: #524F4F !important;
}


/* SIGN UP FORM STYLES */

.gifturldiv {
	opacity: 0;
	pointer-events: none;
}


.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.p1{background-image:url(../images/p1.jpg);}
.p2{background-image:url(../images/p2.jpg);}
.p3{background-image:url(../images/p3.jpg);}

.cc-selector input:active +.product-cc{opacity: .9;}
.cc-selector input:checked +.product-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
			border: 5px solid #346195;
}
.product-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
	background-position: center center;
    display:inline-block;
	height:150px;
	margin-top: 20px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.product-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.thumbnail-tiny {
	width: 50px;
}
