@charset "UTF-8";
/* CSS Document */

body{
	background-color:#8cbac3;
	color: white;
}
	
#wrapper{
height: 100%;
width: 90%;
display:block;
vertical-align:middle;
margin:auto;
position: relative;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}

.photo{
margin:auto;
width: 90%;
max-width: 1200px;
min-width: 250px;
display: table-cell;
height: auto;
vertical-align:middle;
position:relative;
}

.icon, .logo{
width: 8%;
margin-left: auto;
margin-right: auto;
height:auto;
margin-top:-60px;
position:relative;
display: table-cell;

}

.logo{
width: 20%;
min-width: 200px;
max-width: 350px;
position:relative;
margin-top:10px;
}

h1{
font-size: 40px;
font-weight:300;
line-height:auto;
margin-left:auto;
margin-right: auto;
width: 100%;
text-align:center;
font-family: "Helvetica";
}

p{
font-size: 1.2em;
font-weight:400;
line-height:auto;
margin-left:auto;
margin-right: auto;
width: 80%;
padding:10px;
text-align:center;
font-family: "Helvetica";
color: white;
}

.legal{
font-size: 14px;
font-weight:400;
line-height:auto;
margin-left:auto;
margin-right: auto;
width: 80%;
padding:10px;
text-align:center;
font-family: "Helvetica";
color:rgba(106,106,106,1.00);
}

input, textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  border: none;
  margin: 0;
  border-radius: 0;
}

input[type=email]::-ms-clear {
  /* remove the big X on ie */
  display: none;
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container::after {
  clear: both;
  content: "";
  display: table;
}


