* {
  box-sizing: border-box;
}

body {
  background-color: blue;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
 position: absolute;
width: calc(100% - 5px);
max-width: 800px;
height: 85%;
border-radius: 4px;
/* background-color: #fff; */
left: 50%;
bottom: 0%;
transform: translateX(-50%);
overflow: hidden;
}

.top_menu {
 background-color: rgba(255, 255, 255, 0.74);
width: 100%;
padding: 3px 0 1px;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.top_menu .buttons {
  margin: 3px 0 0 10px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 12px;
height: 12px;
border-radius: 50%;
display: inline-block;
margin-right:5px;
position: relative;
}
.top_menu .buttons .button.close {
  background-color: #a2dffd;
}
.top_menu .buttons .button.minimize {
  background-color: #a2dffd;
}
.top_menu .buttons .button.maximize {
  background-color: #a2dffd;
}
.top_menu .title {
  text-align: center;
color: #a8aaad;
font-size: 14px;

text-transform: uppercase;
letter-spacing: 1px;
}

.messages {
  position: relative;
list-style: none;
padding: 10px 10px 0 10px;
margin: 0;
height: 347px;
overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #bed2ff;
float: left;
}
.messages .message.left .text_wrapper {
 background-color: #8CBAC3;
margin-left: 10px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #8CBAC3;
}
.messages .message.left .text {
  color: #023A7B;
}
.messages .message.right .avatar {
  background-color: #bed2ff;
float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #023A7B;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 40px;
height: 40px;
border-radius: 50%;
display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 13px;
  font-weight: 300;
}

.bottom_wrapper {
 position: relative;
width: 100%;
background-color: rgba(255, 255, 255, 0.75);
padding: 10px 10px;
position: absolute;
bottom: 0;
background-color:white;
}
.bottom_wrapper .message_input_wrapper {
 display: inline-block;
height: 33px;
border-radius: 6px;
border: 1px solid #cccccc;
width: calc(100% - 140px);
position: relative;
padding: 0 8px;

}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
  font-size: 14px;
}
.bottom_wrapper .send_message {
  width: 130px;
height: 37px;
display: inline-block;
border-radius:8px;
background-color: #3244ab;
border: 2px solid #3244ab;
color: #fff;
cursor: pointer;
transition: all 0.2s linear;
text-align: center;
float: right;
}
.bottom_wrapper .send_message:hover {
  color: #023A7B;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 15px;
font-weight: 300;
display: inline-block;
line-height: 32px;
text-transform: uppercase;
}

.message_template {
  display: none;
}

