.bottom {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  position: absolute;
  bottom: 80px;
  left: 10%;
  height: 30vh;
}

.positive-alpha {
  border-bottom-color: rgba(255,255,255,.4) !important;
}

.bottom h4, .bottom p {
  color: #ffffff;
}

#fullscreen_video {
  width:100%;
  /*height: calc(100vh - 50px);*/
  height: 75vh;
  margin-top: 0px;
  opacity: 0.8;
}

#videoContainer {
  background-color: #000;
}
