/* Empty. Add your own CSS if you like */

.small_h1 {
    font-size: 20px;
}
h4 {
    color: white;
}
.text-white::before {
    color: white;
}
.login_menu_img {
    height: 40px !important;
    display: block;
    margin: 5% auto;
}
.loading-container {
    background-color: rgba(0, 0, 0, .2);
}
.spinner {
    stroke: rgb(255, 255, 255) !important;
}
.login-logo {
    padding-top: 0px !important;
}
.login-view .top-content {
    height: 20%;
}
.login-view .middle-content {
    height: 61%;
}

/*button.button.back-button.buttons.button-clear.header-item {
		margin-left: 20px !important;
		color: #fff;
}*/


/*.bar-navigation.bar.bar-header button {
	color: #333;
}*/


/*button.button.button-icon.button-clear.ion-navicon.text-white {
	color: #fff;
}*/

.blue {
    color: #6aa6b2 !important;
}
.dark_blue {
    color: rgb(35, 61, 120) !important;
}
.dark_blue:placeholder {
    color: rgb(35, 61, 120) !important;
}
.white {
    color: #ffffff !important;
}
.blue_background {
    background-color: #6aa6b2 !important;
}
.white_background {
    background-color: #fff !important;
}
@media only screen and (min-height: 1024px) and (min-width: 768px) {
    .home-specialmoments-view .people-bottom .people-2 {
        height: 200%;
    }
    .home-specialmoments-view .people-bottom .people-4 {
        height: 200%;
    }
    .home-specialmoments-view .people-bottom .people-3 {
        height: 220%;
    }
    .home-specialmoments-view .icon-heart {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.home-specialmoments-view {
    background-image: radial-gradient(center center, circle cover, #00b2ed, #04407f);
    background-image: -o-radial-gradient(center center, circle cover, #00b2ed, #04407f);
    background-image: -ms-radial-gradient(center center, circle cover, #00b2ed, #04407f);
    background-image: -moz-radial-gradient(center center, circle cover, #00b2ed, #04407f);
    background-image: -webkit-radial-gradient(center center, circle cover, #00b2ed, #04407f);
    text-align: center;
    /* Styles for old versions of IE */
    /* :not(:required) hides this rule from IE9 and below */
}
.home-specialmoments-view .bar.bar-header {
    background: rgba(2, 58, 123, 0.17);
    height: 55px;
}
.home-specialmoments-view .bar-stable .button {
    color: #ededed;
}
.home-specialmoments-view .bar-stable .title {
    color: #ededed;
    height: 50px;
}
.home-specialmoments-view .logo-content {
    height: 30%;
}
.home-specialmoments-view .logo-content .app-logo {
    padding-top: 30px;
    text-align: center;
}
.home-specialmoments-view .logo-content .app-logo img {
    height: 40px;
}
.home-specialmoments-view .logo-content .logo-title {
    padding-top: 30px;
    text-align: center;
    font-family: "Nickainley Normal";
    font-size: 28px;
    font-weight: 300;
    color: #ededed;
}
.home-specialmoments-view .middle-content {
    height: 50%;
}
.home-specialmoments-view .middle-content .heart-line {
    text-align: center;
}
.home-specialmoments-view .middle-content .heart-line img {
    height: 15px;
}
.home-specialmoments-view .middle-content .name-title {
    text-align: center;
}
.home-specialmoments-view .middle-content .name-title h1 {
    color: #023a7b;
}
.home-specialmoments-view .middle-content .name-title h4 {
    color: #ededed;
    font-size: 17px;
}
.home-specialmoments-view .middle-content .name-title .h-line {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.home-specialmoments-view .middle-content .name-title .watch-live {
    padding-top: 10px;
    color: #023a7b;
    font-family: "Nickainley Normal";
    font-size: 26px;
    font-weight: 300;
}
.home-specialmoments-view .middle-content .button-area {
    width: 70%;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.home-specialmoments-view .middle-content .button-area2 {
    width: 70%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.home-specialmoments-view .middle-content .button-area .button {
    font-size: 18px;
}
.home-specialmoments-view .middle-content .button-area .button-clear {
    font-size: 16px;
}
.home-specialmoments-view .bubble {
    position: fixed;
    width: 100%;
    bottom: 65px;
}
.home-specialmoments-view .bubble img {
    width: 130px;
}
.home-specialmoments-view .bottom-content {
    height: 60px;
    position: fixed;
    bottom: 10px;
    text-align: center;
}
.home-specialmoments-view .bottom-content .col.col-19 {
    max-width: 19%;
}
.home-specialmoments-view .bottom-content .col.col-19 img {
    height: 30px;
}
.home-specialmoments-view .bottom-content .col.col-24 {
    max-width: 24%;
}
.home-specialmoments-view .bottom-content .col.col-24 img {
    height: 40px;
}
.home-specialmoments-view .bottom-content .divider {
    background-image: url("../img/tab-divider.svg");
    background-repeat: no-repeat;
    background-position: left center;
    backgrond-size: 5px 100%;
}
.home-specialmoments-view .bar-stable .button {
    color: #ededed;
}
.home-specialmoments-view .bar-stable .title {
    color: #ededed;
}
.home-specialmoments-view .heartbeat {
    margin-top: 65%;
}

.keyboardOn {
    height: calc(100vh - 310px) !important;
}

@media only screen and (max-height: 299px) {
  .hideAndroid {
    display: none;
  }

  .contact-view .middle-content .content-padding textarea {
    height: 40px;
  }

  .keyboardOn {
    height: 100vh !important;
  }
}
