<ion-view view-title="{{Properties.title}}" class="home-guest-view">

    <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <style>

#videoContainer2{width:100vw !important; height:100vh !important; margin:0px !important; left:0 !important; top:0 !important; padding:0px !important;}
#yourVideoElement2{ background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/bride_background.jpg) !important;width: 50vw !important; height: 45vh !important; left: 50vw !important; top: 0vh !important; display: block; overflow: hidden !important; position: absolute !important; float: left !important; }
#yoursVideoElement2{ background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/groom_background.jpg) !important;width:50vw; height:45vh; top:0; left:0; background-color:#d7d7d7; display:block; overflow:hidden;position:absolute; float:left;}
#witnessVideoElement2{background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/witness_male_background.jpg) !important;width:50vw; height:30vh; left:0; /*! bottom:0; */ background-color:#84848d; display:block; overflow:hidden;position:absolute; float:left;top: 45vh;/*! margin: 0px; */background-repeat: no-repeat;}
#witness2VideoElement2{background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/witness_female_background.jpg) !important;width:50vw; height:30vh; left:50vw;  background-color:#61619b; display:block; overflow:hidden;position:absolute; float:left;top: 45vh;}
#officialVideoElement2{ background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/officient_background.jpg) !important;width: 33vw; height: 33vh; left: 33vw; top:30vh; background-color: black; display: block; overflow: hidden; position: absolute; z-index: 4; float:none;}
#bottombar2{ top: 50vh; }
#beatingheart { position: absolute; z-index: 4000; left: 45%; top: 0; }
</style>

    <ion-content scroll="false" class="has-header topHeader">
        <div  id="videoContainer2">
            <div id="yoursVideoElement2" >
                <!-- <video id="yoursVideoElement" class="people-0-size" autoplay></video> -->
            </div>
            <div id="yourVideoElement2" >
                <!-- <video id="yourVideoElement" class="people-1-size" autoplay></video> -->
            </div>

            <div id="bottombar2">
                <div id="witnessVideoElement2">
                    <!-- <video id="witnessVideoElement" class="people-2-size" autoplay></video> -->
                </div>
                <div id="officialVideoElement2">
                    <!-- <video id="officialVideoElement" class="people-3-size" autoplay></video> -->
                </div>
                <div id="witness2VideoElement2">
                    <!-- <video id="witness2VideoElement" class="people-4-size" autoplay></video> -->
                </div>
            </div>


            <!-- <div class="button button-heart icon-heart" ng-if="role != 'guest'" ng-click="clickHeartButton()">
                <i  id="forever_heart" class="material-icons blue" ng-class="{'active': icon_blue=='active'}"></i>
                <i  id="together_heart" class="material-icons yellow" ng-class="{'active': icon_blue=='active'}"></i>
                <i  id="whereever_heart" class="material-icons fav" ng-class="{'active  icon-animation': icon_fav=
='active', 'unlike': icon_fav==''}"></i>
            </div> -->
            <span class="heartbeat" id="beatingheart"></span>

        </div>

<div class="row bottom-content hideAndroid" style="">
            <div class="col col-19">
                <button class="button button-clear" ng-click="goChat()" disabled="disabled">
                    <img src="img/tab-chat-white.svg">
                </button>
            </div>
            <div class="col col-19 divider">
                <button class="button button-clear" ng-click="goGift()" ng-disabled="account.gifts">
                    <img src="img/tab-gift-white.svg">
                </button>
            </div>
            <div class="col col-24 divider">
                <button class="button button-clear" ng-click="goBack();">
                    <img src="img/tab-heart-white.svg">
                </button>
            </div>
            <div class="col col-19 divider">
                <button class="button button-clear" ng-click="addToCalendar();" ng-disabled="addToCalendarAction">
                    <img src="img/tab-event-white.svg">
                </button>
            </div>
            <div class="col col-19 divider">
                <button class="button button-clear" ng-click="share()" ng-disabled="account.public">
                    <img src="img/tab-link-white.svg">
                </button>
            </div>
        </div>


    </ion-content>

</ion-view>
