<ion-view view-title="" class="home-guest-view">
  <style>
  .nav-bar-title img {
    height: 35px;
    margin-top: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>
    <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
          <img src="img/web-wed-logo-white.svg">
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content scroll="false" class="has-header" style="top: 0px;">
    <link rel="stylesheet" href="css/chat_view.css"/>

        <div class="logo-content hideAndroid">
            <div class="app-logo"><br/><br/></div>
            <div class="logo-title">
                You are cordially e-vited <span ng-if="Properties.active == 'special_moment'"> to<br/><br/>view this special moment.</span>
            </div>
        </div>

        <div class="middle-content hideAndroid">
            <div class="heart-line">
                <img src="img/heart-divide-line.svg">
            </div>
            <div class="name-title">
                <h1 ng-if="Properties.active == 'wedding'"><span ng-bind="account.yours"></span> &amp; <span ng-bind="account.yours2"></span></h1>
                <h1 ng-if="Properties.active == 'special_moment'"><span ng-bind="account.eventName"></span></h1>
                <h4 ng-if="Properties.active == 'wedding' || (Properties.active == 'special_moment' && account.ondemand == false)"><span ng-bind="account.longDate"></span> at <span ng-bind="account.longTime"></span></h4>
                <h4 ng-if="(Properties.active == 'special_moment' && account.ondemand == true)"><span>On-Demand Event</span></h4>
                <div class="h-line positive"></div>
                <div class="watch-live">
                    - watch live -
                </div>
            </div>
            <div class="button-area">
                <button class="button button-full button-positive" ng-click="addToCalendar();" ng-disabled="addToCalendarAction">Add to Calendar</button>
                <button class="button button-small button-clear button-light" ng-click="watchDemo()">How It Works</button>
            </div>
        </div>

        <div class="bubble hideAndroid" ng-if="showBubble == true">
            <img ng-src="{{bubble}}" ng-style="{'margin-left': marginLeft}" ng-click="nextBubble()">
        </div>

        <div class="row bottom-content hideAndroid" style="">
            <div class="col col-19">
                <button class="button button-clear" ng-click="goChat()" ng-disabled="account.chat">
                    <img src="img/tab-chat-white.svg">
                </button>
            </div>
            <div class="col col-19 divider">
                <button class="button button-clear" ng-click="goGift()" ng-disabled="account.gifts">
                    <img src="img/tab-gift-white.svg">
                </button>
            </div>
            <div class="col col-24 divider">
                <button class="button button-clear" ng-click="joinWeddingViaButton();" id="weddingButton" ng-disabled="!event.eventReady">
                    <img src="img/tab-heart-white.svg">
                </button>
            </div>
            <div class="col col-19 divider">
                <button class="button button-clear" ng-click="addToCalendar();" ng-disabled="addToCalendarAction">
                    <img src="img/tab-event-white.svg">
                </button>
            </div>
            <div class="col col-19 divider">
                <button class="button button-clear" ng-click="share()" ng-disabled="account.public">
                    <img src="img/tab-link-white.svg">
                </button>
            </div>
        </div>

        <div id='chatWindow' style="display:block;" ng-show="chat.shown">
            <div class="chat_window">
                <ul class="messages">

                </ul>

                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <input class="message_input" id="message_text" placeholder="Send your love here.." ng-click='adjust();' ng-model='messages.text'>
                    </div>
                    <div class="send_message" ng-click='sendChatMessage()'>
                        <div class="icon"></div>
                        <div class="text">Send</div>
                    </div>
                </div>

            </div>

            <div class="message_template">
                <li class="message">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text"></div>
                    </div>
                </li>
            </div>
        </div>

    </ion-content>


</ion-view>
