<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <div class="sidemenu-header">
                <img src="img/heart-lightblue-outline.svg">
                <h1 ng-bind="account.name" class='small_h1'></h1>
                <div class="row">
                    <div class="col">
                        <h6 ng-if="account.active == 'wedding'" ng-class="{'host':loginMode=='host', 'guest':loginMode=='guest'}"> <span ng-bind="account.yours1"></span> &amp; <span ng-bind="account.yours2"></span> </h6>
                        <h6 ng-if="account.active == 'special_moment'">Event Code: <span ng-bind="account.code"></span></h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h6 class="host" ng-if="account.active == 'wedding'"><span ng-bind="account.longDate"></span> @ <span ng-bind="account.longTime"></span></h6>
                        <h6 class="host" ng-if="account.active == 'special_moment' && account.ondemand == true">On-Demand Event</h6>
                        <h6 class="host" ng-if="account.active == 'special_moment' && account.ondemand == false"><span ng-bind="account.longDate"></span> @ <span ng-bind="account.longTime"></span></h6>
                    </div>
                </div>
            </div>
        </ion-header-bar>
        <ion-content scroll="true" class="menu-content">
            <ion-list>
                <ion-item menu-close href="#/app/home-host" ng-if="type==2">
                    Home
                </ion-item>
                <ion-item menu-close href="#/app/home-guest" ng-if="type==3">
                    Home
                </ion-item>
                <ion-item menu-close href="#/app/home-broadcast" ng-if="account.active == 'wedding' && type==4">
                    Home
                </ion-item>
                <ion-item menu-close href="#/app/about">
                    About WebWed
                </ion-item>
                <ion-item menu-close href="#/app/legal">
                    Legal Resources
                </ion-item>
                <ion-item menu-close href="#/app/account" ng-if="type != 3">
                    <span ng-bind="my_account_or_profile">My Profile</span>
                </ion-item>
                <ion-item menu-close ng-click="goLogout()">
                    Logout
                </ion-item>
                <!-- <ion-item menu-close href="#/app/contact">
                    Contact Us
                </ion-item> -->
            </ion-list>
        </ion-content>
        <ion-footer-bar>
            <div class="sidemenu-copyright">
                <h6>&copy; 2012 – <span ng-bind="currentYear"></span> WebWed, LLC. All rights reserved.
                Provisional Patent Awarded. Service available only within the contiguous USA. A state issued marriage license is required to be valid. <a href="#/app/contact" menu-close>Contact Us</a></h6>

                <h5><a href="#/app/terms-of-service/menu" menu-close>Terms of Service</a> and <a href="#/app/privacy-policy/menu" menu-close>Privacy Policy</a></h5>

            </div>
        </ion-footer-bar>

    </ion-side-menu>
</ion-side-menus>
