<ion-view view-title="Contact Us" class="contact-view">
  <style type="text/css">
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color:    #666;
  }
  input:-moz-placeholder, textarea:-moz-placeholder {
      color:    #666;
  }
  input::-moz-placeholder, textarea::-moz-placeholder {
      color:    #666;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
      color:    #666;
  }
  </style>

    <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="false">
        <div class="top-content hideAndroid">
            <div class="contact-title">
                We'd <img src="img/heart-calm-fill.svg"> to hear from you.
            </div>
            <div class="legal-notice">
                <p ng-click="goLegal()">
                    Reference out legal resources provided &amp; verify where to obtain a legal marriage license by clicking here...
                </p>
            </div>

        </div>
        <style>
        input:placeholder-shown {
            color:#666 !important;
        }
        </style>
        <div class="middle-content">
            <div class="content-padding">
                <form name="authorizationForm" novalidate="">
                    <div class="row">
                        <div class="col">
                            <div class="input-icon">

                                <label class="item item-input">
                                    <input type="text" placeholder="Name:" ng-model="contact.name"  required="" style="background-color: #8CBAC3;">
                                </label>
                            </div>

                            <div class="input-icon">

                                <label class="item item-input">
                                    <input type="email" placeholder="Email:" ng-model="contact.email" required="" style="background-color: #8CBAC3;">
                                </label>
                            </div>

                            <div class="input-icon">

                                <label class="item item-input">
                                    <textarea placeholder="Message:" ng-model="contact.message" required=""></textarea>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="button button-full button-calm" ng-click="doSubmit()">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="bottom-content hideAndroid">
            <div class="row">
                <div class="col telephone">
                    <!--
                    <a href="tel: 110">(800)-WEB-WEDO</a>
                    -->
                </div>
                <div class="col address">
                    <!--
                    123 MainStreet Smyrna, GA
                    -->
                </div>
            </div>
            <div class="app-logo">
                <img src="img/web-wed-logo-white.svg">
            </div>
            <div class="terms-of-service">
                <a ng-href="#/{{route}}/terms-of-service/back" class="text-link">Terms of Service</a> and <a ng-href="#/{{route}}/privacy-policy/back" class="text-link">Privacy Policy</a>
            </div>
        </div>
    </ion-content>
</ion-view>
