<ion-view view-title="About Web Wed Mobile" class="about-view">
   <ion-nav-bar class="bar-stable bar-navigation" align-title="center">
      <ion-nav-buttons side="left">
         <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
         </button>
      </ion-nav-buttons>
   </ion-nav-bar>
   <ion-content has-bouncing="false" class="has-header" style="top: 0px;">
      <div class="row logo-content">
         <div class="col">
            <div class="app-logo">
               <img src="img/web-wed-logo-white.svg">
            </div>
            <div class="logo-title">
               <h1 style="text-transform:capitalize;">When love can't wait</h1>
            </div>
            <div class="logo-line">
               <div class="h-line calm"></div>
            </div>
         </div>
      </div>
      <div class="row about-content">
         <div class="col">
            <div class="row">
               <div class="col">
                  <h4>About Us</h4>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <p>
                     Web Wed is dedicated to providing access to marriage equality to everyone all over the world. To help achieve our goal, Web Wed is pleased to announce the debut of Web Wed Mobile. A cross-platform mobile application that will allow people to partake in a wedding ceremony from anywhere in the world, legally. All Web Wed ministers, officiants, reverends, and clergy are licensed and ordained. Web Weds team consists of lawyers, ministers, technology experts, and volunteers to help bring every couple the unique ceremony you, so desire. Our dedication to forward thinking love , law, &amp; technology law allows us to stay ahead of the curve. Web Wed has defined what it means to be wed on your time. Your schedule dictates where, when, and how it takes place. Enjoy the new freedom and break the norm, with Web Wed Mobile.
                  </p>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <p>
                     The best sort of love is easy and effortless. And promising one another eternal devotion at your wedding should be just as simple. Thats why we’ve created a new style wedding ceremony, that is neither expensive nor complicated. Invite friends as many as you like, regardless of their location. Celebrate together via a live broadcast video ceremony. It's Simple and best of all, Its legal.
                  </p>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <ul style="color:#fff;">
                     <li> 1. You Register Online at webwedmobile.com</li>
                     <li>2. Obtain marriage license through your local government </li>
                     <li>3. Select your Officiant and schedule your ceremony.</li>
                     <li>4. Take part in you Marriage Counsel/Education / FREE</li>
                     <li>5. Connect with your Officiant to obtain signature on your marriage license. (Where applicable)</li>
                     <li>6. Invite groups to share the moment or post on social media</li>
                     <li>7. You get married online by one of our ordained minister. Visit online at www.webwedmobile.com</li>
                  </ul>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <p>
                     Visit online at www.webwedmobile.com
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="row credits-content">
         <div class="col">
            <div class="row">
               <div class="col">
                  <h4>Credits &amp; Software</h4>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <p>
                     Application Design and developed by Riveloper, LLC - Atlanta, Ga. <a ng-click="openSystemBrowser('http://riveloper.com')">www.riveloper.com.</a> UI/UX developed by by Riveloper, LLC - Atlanta, GA. Riveloper contributor Paul Dimitrov for integration with application front end. Royalty free images license through RF123 and/or Getty Images. Open source font libraries sourced through Google.
                  </p>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <p>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="row library-content">
         <div class="col">
            <div class="row">
               <div class="col">
                  <h4>Open Source &amp; Licensed Resources</h4>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <p>jQuery - http://jquery.com/</p>
                  <p>jQuery UI - http://jqueryui.com/</p>
                  <p>Bootstrap - http://getbootstrap.com/</p>
                  <p>Fancybox 2 - http://fancyapps.com/fancybox/</p>
                  <p>jQuery.validation - http://jqueryvalidation.org/</p>
                  <p>smooth scroll.js - http://gist.github.com/galambalazs/6477177</p>
                  <p>Cordova - http://www.apache.org/licenses/LICENSE-2.0</p>
                  <p>WebRTC - https://webrtc.org/license/software/</p>
                  <p>Ionic Framework, Angular - https://opensource.org/licenses/MIT</p>
                  <p>Wowza Media Servers https://www.wowza.com/</p>
                  <p>Kurento Media Server https://www.kurento.org/</p>
                  <p>Wow.js - http://mynameismatthieu.com/WOW/</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row copyright-content">
         <div class="col">
            <div class="row">
               <div class="col">
                  <p>
                     &copy; 2012 – <span ng-bind="currentYear"></span> Web Wed, LLC - All rights reserved. For more information regarding this application please visit our website at www.webwedmobile.com. Use of this application is subject to our terms of service and privacy policy available on our website. <span>Version: <span ng-bind="version"></span></span>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </ion-content>
</ion-view>
