.hide {
    display: block !important;
}

.topHeader {
    top: 64px !important;
}

#videoContainer {

}

#yoursVideoElement {
    position: absolute;
    border: 0px;
    opacity: 1;
}

.topHeader {

}

.bottom {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 80px;
    left: 10%;
}

.positive-alpha {
    border-bottom-color: rgba(255,255,255,.4) !important;
}

.bottom h4, .bottom p {
    color: #ffffff;
}

.people-0 {
    position: absolute;
    margin-top: 0%;
    left: 50%;
    width: 50%;
    height: 50%;
}

.people-0-size {
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    border: 0px !important;
    border: none !important;
    object-fit: fill !important;
}

.people-1-size {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill !important;
}

.people-2-size {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill !important;
}

.people-3-size {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill !important;
}

.people-4-size {
    width: 100% !important;
    height: 100% !important;
    object-fit: fill !important;
}
