<ion-view class="login-view blue_background" cache-view="false">
  <ion-nav-bar class="bar-stable bar-navigation bar-clear" align-title="center">
    <ion-nav-back-button style="color:#fff !important;"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="false" >
    <div class="top-content hideAndroid">
      <div class="login-logo">
        <img src="img/heart-ring.svg">
      </div>
    </div>
    <div class="middle-content">
      <div class="content-padding">
        <div class="row hideAndroid">
          <div class="col">
            <h1 class="white" style="margin-bottom:0;">Together, Whenever, Wherever, Forever</h1>
          </div>
        </div>
        <form name="authorizationForm" novalidate="">
          <div class="row">
            <div class="col">
              <div class="input-icon">
                <img src="img/input-icon-email.svg">
                <label class="item item-input">
                  <input type="email" name="email" onBlur="window.validate();" placeholder="Email address:" ng-model="login.email" required="">
                </label>
              </div>
              <div class="input-icon">
                <img src="img/input-icon-heart.svg">
                <label class="item item-input">
                  <input type="password" placeholder="Enter Event Code:" disabled="disabled" style="background-color:rgba(0,0,0,0);">
                </label>
              </div>
              <div class="wedding-code white_background">
                <label class="item item-input">
                  <input type="text" ng-model="login.pincode" placeholder='00000' required="required" class="blue-input" style="color: rgb(35, 61, 120) !important;">
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-full button-positive" ng-click="doLogin()" ng-disabled="authorizationForm.$invalid">Join Now</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-small button-clear button-light white" ng-click="resendMyCode()" ng-disabled="!authorizationForm.email.$valid">Forgot Event Code?</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom-content hideAndroid">
      <div class="app-logo">
        <img src="img/web-wed-logo-white.svg">
      </div>
      <div class="tos-notice">
        <h4>By registering, I accept the <a href="#/login/terms-of-service/back">Terms of Service</a> and <a href="#/login/privacy-policy/back">Privacy Policy</a><br/><span>Version: <span ng-bind="version"></span></span></h4>
      </div>
    </div>
  </ion-content>
</ion-view>
