<ion-view class="login-view" cache-view="false">
  <ion-nav-bar class="bar-stable bar-navigation bar-clear" align-title="center">
    <ion-nav-back-button style="color:#fff !important;"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="top-content hideAndroid">
      <div class="login-logo">
        <img src="img/heart-ring.svg">
      </div>
    </div>
    <div class="middle-content">
      <div class="content-padding">
        <div class="row hideAndroid">
          <div class="col">
            <h1 class="blue">Together, Whenever, Wherever, Forever</h1>
          </div>
        </div>
        <form name="authorizationForm" novalidate="">
          <div class="row">
            <div class="col">
              <div class="input-icon">
                <img src="img/input-icon-email.svg">
                <label class="item item-input">
                  <input type="email" name="email" placeholder="Email address:" ng-model="login.email" required>
                </label>
              </div>

              <div class="input-icon">
                <img src="img/input-icon-heart.svg">
                <label class="item item-input">
                  <input type="password" placeholder="Password:" ng-model="login.password" required>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-full button-calm white" ng-click="doLogin()" ng-disabled="authorizationForm.$invalid">Login <i class="ion-arrow-right-c"></i></button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="button button-small button-clear button-light" ng-click="forgotPassword()" ng-disabled="!authorizationForm.email.$valid">Forgot Password?</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom-content hideAndroid">
      <div class="app-logo">
        <img src="img/web-wed-logo-white.svg">
      </div>
      <div class="tos-notice">
        <h4>By registering, I accept the <a href="#/login/terms-of-service/back">Terms of Service</a> and <a href="#/login/privacy-policy/back">Privacy Policy</a><br/><span>Version: <span ng-bind="version"></span></span></h4>
      </div>
    </div>
  </ion-content>
</ion-view>
